{% extends 'volunteers/base.html' %}

{% block content %}
<h1 class="my-4">Рейтинг волонтёров</h1>

<div class="mb-5">
    <h2>Топ 1-50</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Место</th>
                <th>ФИО</th>
                <th>Достижения</th>
                <th>Баллы</th>
            </tr>
        </thead>
        <tbody>
            {% for volunteer in top_50 %}
            <tr>
                <td>{{ volunteer.rank }}</td>
                <td>{{ volunteer.full_name }}</td>
                <td>{{ volunteer.achievements|truncatechars:50 }}</td>
                <td>{{ volunteer.bonus_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Аналогичные блоки для top_51_100 и top_101_150 -->
{% endblock %}
